@font-face {
    font-family: HK Grotesk;
    
    /* change the source */
    src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
      format("opentype");
  }
  
  body {
    font-family: 'Courier New', Courier, monospace;
    background: rgb(186, 220, 234); /* background color outside of the game canvas */
    padding: 0;
    margin: 0;
    /*   overflow: hidden; */
    /* outline: 1px solid red; */
  }
  
  canvas {
  /*   display block and margin centers the canvas in center */
    display: block;
    position: relative;
    margin: 0 auto;
    outline: 8px solid black;
  /*   position: relative;
    width: 1024px;
    height: 1024px; */
  }
  div.instructions {
    color: black;
    text-align: center;
    padding: 10px;
  }